@font-face {
  font-family: 'Quentin';
  font-style: normal;
  src: local('Quentin'),
       url('~@/assets/fonts/Quentin.otf') format('opentype')
}

@font-face {
  font-family: 'Myriad';
  font-style: normal;
  src: local('Myriad Pro Regular'),
       local('MyriadPro-Regular'),
       url('~@/assets/fonts/MyriadPro-Regular.otf') format('opentype')
}

@font-face {
  font-family: 'Garamond';
  font-style: normal;
  src: local('Adobe Garamond Pro Regular'),
       local('AGaramondPro-Regular'),
       url('~@/assets/fonts/AGaramondPro-Regular.otf') format('opentype')
}

@font-face {
  font-family: 'Garamond';
  font-style: italic;
  src: local('Adobe Garamond Pro Italic'),
       local('AGaramondPro-Italic'),
       url('~@/assets/fonts/AGaramondPro-Italic.otf') format('opentype')
}

:root {
  --h1: 4rem;
  --h2: 3rem;
  --h3: 2rem;
  --h4: 1.5rem;
  --h5: 1rem;
  --h6: .75rem;

  --p: 1.6rem;
  --baseline: 1.4;
  
  font-size: 10px;
  line-height: var(--baseline);
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.h1 { font-size: var(--h1) }
.h2 { font-size: var(--h2) }
.h3 { font-size: var(--h3) }
.h4 { font-size: var(--h4) }
.h5 { font-size: var(--h5) }
.h6 { font-size: var(--h6) }

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: 'Quentin';
  font-weight: normal;
  line-height: 1.5;
}

p {
  margin-bottom: 2rem;

  font-family: 'Garamond';
  font-style: italic;
  font-size: var(--p);
}